@media only screen and (max-width: 800px){

    *{
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
    }
    p{
        font-size: 0.8rem;
    }
    .bg{
        background-image: url(images/pexels-cottonbro-studio-4503269.jpg);
    }

    header img {
        height: 60px;
        
        margin-left: 2vw;
    }

    
    header{
        grid-template-columns: 10% 88%;
        grid-template-rows: 9.5vh;
        min-height: 63px;
        align-items: center;
        
    }


    header section{
        display: block;
    }

    nav ul{
        position: fixed;
        height: 100vh;
       left: 100%;
        top: 13vh;
        transition: all .5s;
        display: block;
        
    }

    header label{
        display: block;
        position: relative;
        float: right;
    }

    #check{
        display: none;
    }

    #check:checked ~ nav ul{
        
        left: 0;
        display: block;
        background-color: rgba(29, 29, 29, 0.934);
        width: 100%;
        
    }

    nav ul li{
        display: block;
        text-align: center;
        padding: 5px;
        margin: 4vh;
    }
    #main-section{
        grid-template-rows: auto;
        
    }
    #s1{
        display: block;  
        width: 100%;
        text-align: center;
    }

    #s1-1>h3{
        margin: 10px;
    }

    #s1-1 div{
        margin: 0;
        margin-top: 40px;
    }
    #s1-1{
        display: block;
        width: 100%;
        margin-bottom: 4vh;
    }

    #s1-2{
        display: block;
        width: 100%;
        margin-top: 40px;
        max-width: 600px;
        margin: auto;
    }

    #s1-2 + div{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #s1-2 div div{
        display: inline-block;
    }

    #s2{
       grid-template-columns: 85%;
       margin-top: 4px;
    }

    footer{
        font-size: x-small;
    }

}