* {
    padding: 0px;
    margin: 0px;
   
}

.bg {
    background-image: url(images/pexels-cottonbro-studio-4503267.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

header {
    display: grid;
    grid-template-columns: 10% 70%;
    grid-template-rows: 11.5vh;
    min-height: 70px;
    background-color: rgb(52, 52, 52);
}

header section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section>img {
    height: 4.5vw;
    min-height: 50px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    padding: 12px;
    margin: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font: size 1.6em;
    color: white;
    text-shadow: 3px 2px black;
    border-radius: 25px;
}

nav ul a:hover {
    color: rgb(104, 106, 102);
    border-radius: 25px;
}


#main-section {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 87vh;
    justify-content: center;
    max-height: 800px;
}

#s1 {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: center;
    margin-bottom: 10px;
}

#s1-1 {
    width: auto;
    display: flex;
    flex-wrap: wrap;

}

#s1-1>h3 {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 10vh;
    margin-right: 25%;
    text-shadow: 3px 2px black;
}

#s1-1 div {
    margin-left: 8%;
}

#s1-1 div button {
    padding: 8px;
    color: white;
    text-shadow: 3px 2px black;
    background-color: rgb(51 51 51);
    width: 120px;
    border-radius: 15px;
    border: 0px;
    margin: 4px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#s1-2 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#s1-2 div div {
    color: rgb(242, 244, 242);
    text-align: center;
    text-shadow: 2px 1px black;
    display: inline-block;
    margin: 10px;
    padding: 12px;
    background-color: rgb(27, 59, 55);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pricing{
    margin-top: 30px;
    font-size: small;
    font-family: fangsong;
    font-style: italic;
}

.pricing + button{
    background-color: rgb(95, 95, 235);
    color: white;
    padding: 6px 15px ;
    margin-top: 5px;
    border-radius: 13px;
    border: 0;
    font-size: small;
    font-family: fangsong;
    
}

#s2 {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: center;
    /* background-color: rgb(225, 217, 227); */
    background-image: linear-gradient(rgb(188, 188, 188), rgb(198, 213, 212));
}

#s2 div {
    margin: 8px;
    padding: 6px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: rgb(100 100 111 / 55%) 3px 4px 7px 6px;
    text-shadow: 1px 1px rgb(137, 137, 137);
}

#s2 div h3 {
    font-size: 1.5em;
    text-shadow: 1px 1px black;
}

#s2 div img {
    width: fit-content;
    display: block;
    width: 100px;
    margin: 6px auto 6px auto;
}

footer {
    display: grid;
    grid-template-columns: 48% 48%;
    width: auto;
    justify-content: center;
    background-image: linear-gradient(rgb(182, 194, 255),rgb(195, 187, 255));
}

footer div {
    margin-bottom: 8px;
}

footer img {
    display: block;
    object-fit: cover;
    height: 4.5vw;
    min-height: 50px;
    margin-left: 2vw;
    
}

footer div {
    display: flex;
    align-items: center;
}
#check{
    display: none;
}

.bar{
        width: 30px;
        height: 4px;
        background-color: black;
        margin: 6px 0;
        margin-right: 10px;
}
header label{
    display: none;
}